[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
[submodule "public"]
	path = public
	url = git@github.com:singulaire/singulaire.github.io.git
	branch = master
